:root {
	--color-primary: #4b527e;
	--color-primary-light: #7c81ad;
	--color-primary-dark: #2e4374;
	--color-secondary: #e5c3a6;
	--color-text-white: #dedede;
	--color-dark: #333;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	font-size: 1.6rem;
	margin: 0 auto;
	background-color: var(--color-dark);
	color: #111;
}

.header {
	padding: 3rem;
	text-align: center;
	background-color: var(--color-secondary);
}

.form-add-item {
	height: 100px;
	width: 100%;
}

.form-add-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	width: 100rem;
	margin: 0 auto;
}

.form-add-item > *:not(:last-child) {
	margin-right: 1rem;
}

select,
.item-input,
.btn-add {
	padding: 1rem 2rem;
	border: none;
	border-radius: 4px;
	background: var(--color-secondary);
	font-size: 1.5rem;
	outline: none;
	appearance: none;
	font-weight: 700;
	color: inherit;
}

.btn {
	cursor: pointer;
}

.item button {
	background: none;
	border: none;
	padding: 0.5rem;
}

.item-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 70rem;
	margin: 0 auto;
	background-color: var(--color-secondary);
	border-radius: 4px;
}

.item-list .item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	list-style-type: none;
}
